# on: push # too active

on:
  schedule:
    # Runs at 12:00 UTC daily
    - cron: '0 12 * * *'
  workflow_dispatch:
  
name: TOC Generator
jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v2
        with:
          MAX_HEADER_LEVEL: 3
          TARGET_PATHS: "*.md"
          FOLDING: true
